body{    
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(97, 145, 248);    
}
h1{
    font-family: cursive;
    font-size: 18pt;
    color: white;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clock{
    width: 24%;
    color: white;
} 
.btnFinalizar {
    width: 60px;
    height: 20px;
}
.finished{
    font-style: italic;   
}
.inline{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.newDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; 
}
.novoElTarefa{
    border: solid black 1px;
    display: block;
    width: 70%;
    height: 40px;
    margin: 5px;
    text-align: center;
    background-color: rgb(97, 162, 248);
    border: solid rgb(50, 60, 197) 1px;
    color: white;
    font-weight: bold;
    font-size: 16pt;
}
#container{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;   
    margin-bottom: 30px;    
}
#divHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#list{
    width: inherit;
    display: flex;
    flex-direction: column;
}
#container input{
    width: 90%;
    height: 25px;
    border: solid rgb(50, 60, 197) 1px;    
    border-radius: 5px;
    font-size: 12pt;
}
#create{
    width: 20%;
    border-radius: 5px 5px;
}
@media only screen and (min-width:600px){
    body{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(97, 145, 248);    
    }
    h1{
        font-size: 30pt;
    }
    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        width: 80%;           
    }  
    #list{
        justify-content: center;
        align-items: center;
    }
    .newDiv{
        width: 80%;
    }
    .novoElTarefa{
        width: 100%;
    }
    #create{
        width: 11%;
    }
           
}
